* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

  body{
    background-color: #7837b4;
    font-family: Arial, Helvetica, sans-serif;
  }

  .main{
    display:flex;
    flex-direction: column;
  }

  .header{

padding:40px;
     background-color: gray;
     color:white
    
  
  }

  


  h1{
    font-size: 50px;
    text-align: left;
    color:white;
   
   }
 

  .header ul li{
    list-style-type:none;
    display: inline-block;
    font-size: 30px;
    float: right;
    padding: 0 15px 0 15px;
   
  
  }
  
  a{
    text-decoration:none;
    color:rgb(65, 5, 121);
  }


  .image{
   position:absolute;
    
    width:100%;
height: 600px;
  
    border:100%;
    padding:auto;
    background-image: url("./sky-background.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: none;
  }

  .image-overlay{
    width:1000px;
 

  display:flex;
  justify-content: center;
 
  color: white;
  font-size: 25px;
  padding:50px;
  margin-top:100px;
  margin-left: 400px;
  position: absolute;
  

  }
 
  .profile{
    width: 200px;
    height: 300px;
    border-radius: 40px;
    margin-left:150px;
    margin-top: 150px;
    max-width: 100%;
   position: relative;
   float: left;
  }
  h2{
    text-align: left;
    padding-right:20px ;

  }

  #work{
    text-align: center;
    font-size: 40px;
    color:white;
  }

 .box-wrapper{
  margin-top: 600px;
  width: 100%;
  border: black 5px solid;
display:flex
flex-direction: row;
flex-wrap:wrap;
align-content:center;


 }

 .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: black 5px solid;
  padding:50px;
  justify-content: space-around;
 }


.project{
  border: black 5px solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position:relative;
  transition: transform .2s; /* Animation */
  */
}
.project:hover{
  transform: scale(1.5);
}
.img-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
   /* width: 200px;
  height: 200px;
  margin: 0 auto;
  */

}
img{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  */


}
h2{
  text-align: center;
  color:white;

}

@media (max-width: 800px)
  .box-wrapper{
    flex-direction: column;
  }

  footer{
    
    padding:40px;
    background-color: gray;
    color:white

 
      }
 
footer ul li{
  list-style-type:none;
  display: inline-block;
  font-size: 30px;
  float:left;
  padding: 0 15px 0 15px;

}
    
 
